.products .product-pagination {
    color: #fff;
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 17px;
}
.products .product-pagination-wrapper {
    justify-content: center;
}
.products .product-pagination-wrap {
    background: #088178;
    padding: 15px 20px;
    border-radius: 4px;
}
.products .product-pagination-wrap:not(:last-child) {
    margin-right: 15px;
}
.products .product-alpha-wrapper {
    margin-bottom: 40px;
}
.hero-banner .hero-banner-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-banner .hero-banner-title, .hero-banner .hero-banner-description {
    color: #fff;
    text-align: center;
}

.card {
    overflow: hidden;
    margin-bottom: 80px;
}
.card .card-image-preview {
    margin: 0 -10px;
}
.card .card-image-parent {
    cursor: pointer;
    opacity: 0.6;
    padding: 0 10px;
}
.card input[type="number"] {
    border: 1px solid #000;
    width: 50px;
    height: 43px;
    text-align: center;
    margin-right: 12px;
}
.card .card-image-parent:hover {
    opacity: 1;
}
.card .card-image-slider {
    margin-bottom: 30px;
}
.card .card-content-pre-title {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 40px;
}
.card .card-content-title {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.card .card-content-price {
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 10px;
}
.card .btn {
    font-family: 'Overpass';
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
}
.card select {
    font-family: 'Overpass';
    font-weight: 500;
    font-size: 18px;
    padding: 8px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.card .card-content-select-wrapper {
    align-items: unset;
}
.card .card-button-btn {
    background: #088178;
    padding: 10px 17px;
    border-radius: 4px;
    cursor: pointer;
}
.card .card-content-description-title {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.card .card-content-description {
    color: #000;
    line-height: 1.4;
}
.card .card-content-size-wrap {
    margin-bottom: 30px;
}
.card .card-content-image-wrapper {
    margin: 0 -50px;
}
.card .card-main-wrapper, .card .card-content-main-wrapper {
    max-width: 50%;
    flex: 50%;
    padding: 0 50px;
}

@media screen and (max-width: 990px) {
    .card .card-content-image-wrapper {
        margin: 0 -10px;
    }
    .card .card-main-wrapper, .card .card-content-main-wrapper {
        padding: 0 10px;
    }
    .card .card-content-pre-title, .card .card-content-size-wrap {
        margin-bottom: 10px;
    }
    .card .card-content-title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .card .card-content-description-title {
        margin-bottom: 7px;
    }
    .card .card-content-description {
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .card .card-content-image-wrapper {
        flex-direction: column;
    }
    .card .card-main-wrapper, .card .card-content-main-wrapper {
        max-width: 100%;
        flex: 100%;
    }
}